
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200;300&display=swap');

  body{
    font-family: 'IBM Plex Serif', serif;
  }
  p{
    font-size: larger;
  }
  nav{
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;

  }
  nav ul{
    display: flex;
    list-style: none;
    
    
  }
  li{
    font-weight: bold;
    margin: 5px;
  }
  em{
    color:rgb(237, 37, 71);
    font-style: normal;
  }
  img{
    width: 40rem;
    opacity: 1.0;
  }
  #content{
    
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
  
  }
  #content div{
    margin: 1rem;
  }
  button{
    padding: 10px;
    font-size: 20px;
    font-family: 'IBM Plex Serif', serif;
    border-radius: 10px;
    background-color:  rgb(237, 37, 71);
    box-shadow: 0;

    color: white;
  }
  i{
    color: black;
  }
  #accounts a{
    margin: 8px;
  }